* {
  margin: 0;
  padding: 0;
}
body {
  background-color: aqua;
}
.white-box {
  float: left;
  background-color: #fff;
  width: 50px;
  height: 50px;
}
.black-box {
  float: left;
  background-color: black;
  width: 50px;
  height: 50px;
}
